.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}